.property h2{
    /*font-size: 3em;*/
    display: inline-block;
}
.property span{
    font-size: 1.5em;
}

.score-card .property{
    /*font-size: 3em;*/
    display: inline-block;
    margin-right: 32px;
    margin-left: 16px;
}

#inventory{
    font-size: 1.5em;
}

#inventory-menu{
    /*background-color: black;*/
    display: none;
}
#inventory-menu li{
    /*color: white;*/
}

#inventory-menu label {
  /*float: left;*/
}
#inventory-menu ul {
  /*margin: 0;*/
  list-style: none;
  /*float: left;*/
}