@font-face {
    font-family: medieval;
    src: url(dukeplus.regular.woff);
}

#main-game{
    background-color: #F0E4AA;
}

#gameContainer{
    margin-left: 200px;
}

* {
 font-family: medieval;
}

.property h2{
    /*font-size: 3em;*/
    display: inline-block;
}
.property span{
    font-size: 1.5em;
}

.score-card{
    text-align: center;
}

.score-card .property{
    /*font-size: 3em;*/
    display: inline-block;
    margin-right: 32px;
    margin-left: 16px;
}

#inventory{
    font-size: 1.5em;
}

#inventory-menu{
    /*background-color: black;*/
    display: none;
}
#inventory-menu li{
    /*color: white;*/
}

#inventory-menu label {
  /*float: left;*/
}
#inventory-menu ul {
  /*margin: 0;*/
  list-style: none;
  /*float: left;*/
}

#footer{
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.image-container{
    float:right;
    padding-top: 10px;
}

#weapon-image{
    display: none;
}

#weapon-equipped-property{
    margin-right: 0
}